//-
	id - the ID of the carousel
	imgData - an array of Image objects
	options - an object with
		height - the height the carousel should be
		initActive - initial index to be active
		indicators - whether to include the placement indicators
		controls - whether to include the left/right controls
		autoplay - whether the carousel should auto-advance
		showcaptions - master switch to enable/disable captions
						(even if they are defined in the data)
		usekimgpos - whether to use the kimgpos script to dynamically
						position images

mixin carousel(id, imgData, options)

	- imgData = imgData || [];
	- options = options || {};

	- var CAROUSEL_ID = id || 'carousel';
	- var CAROUSEL_SEL = '#' + CAROUSEL_ID;
	
	- var CAROUSEL_HEIGHT = options.height || 'auto';
	
	- options.initActive = options.initActive || 0;
	- options.indicators = ('boolean' == typeof options.indicators) ? options.indicators : true;
	- options.controls = ('boolean' == typeof options.controls) ? options.controls : true;
	- options.autoplay = ('boolean' == typeof options.autoplay) ? options.autoplay : true;
	- options.showcaptions = ('boolean' == typeof options.showcaptions) ? options.showcaptions : true;
	
	//-
		TODO figure out how to make this script appear in the head
	if options.usekimgpos
		script(type="text/javascript", src="/public/k/kimgpos.js")
		script(type="text/javascript").
			$(document).ready(function() {
				var $carousel = $('#{CAROUSEL_SEL}');
				
				$carousel.on('slid.bs.carousel', function() {
					$carousel.find('.item.active img[data-k-imgpos-winresize="1"]').kimgpos();
				});
			});
	
	style(type="text/css").
		#{CAROUSEL_SEL},
		#{CAROUSEL_SEL} .item {
			height: #{CAROUSEL_HEIGHT};
		}
		
		#{CAROUSEL_SEL} .item img {
			width: 100%;
		}

		#{CAROUSEL_SEL} .item img[data-k-imgpos-skinny="1"] {
			width: 100%;
			height: auto;
			max-height: none;
		}
		
		#{CAROUSEL_SEL} .item img[data-k-imgpos-short="1"] {
			width: auto;
			max-width: none;
			height: 100%;
		}
		
	- var SWITCH_DATA_RIDE = options.autoplay ? "carousel" : undefined;
	div(id=CAROUSEL_ID).carousel.slide(data-ride=SWITCH_DATA_RIDE)
		if options.indicators
			ol.carousel-indicators
				- for (var i = 0; i < imgData.length; i++) {
					- var switchActiveClass = (i == options.initActive) ? "active" : "";
					li(data-target=CAROUSEL_SEL, data-slide-to=i, class=switchActiveClass)
				- }

		div.carousel-inner
			- for (var i = 0; i < imgData.length; i++) {
				- var switchActiveClass = (i == options.initActive) ? "active" : "";
				- var switchKImgPos = options.usekimgpos ? "1" : "0";
				div.item(class=switchActiveClass)
					img(src=imgData[i].getUrl(), data-k-imgpos-docload=switchKImgPos, data-k-imgpos-winresize=switchKImgPos, data-k-imgpos-center-x=imgData[i].getCenterX(), data-k-imgpos-center-y=imgData[i].getCenterY())
					if options.showcaptions
						div.carousel-caption
							| #{imgData[i].getAlt()}
			- }
			
		if options.controls
			a.left.carousel-control(href=CAROUSEL_SEL, data-slide="prev")
				span.glyphicon.glyphicon-chevron-left
				
			a.right.carousel-control(href=CAROUSEL_SEL, data-slide="next")
				span.glyphicon.glyphicon-chevron-right
