//-
	imgData - an array of Image objects
	options - an object with
		initActive - initial index to be active
		indicators - whether to include the placement indicators
		controls - whether to include the left/right controls
		autoplay - whether the carousel should auto-advance
		captions - master switch to enable/disable captions
						(even if they are defined in the data)
		
mixin carousel(imgData, options)

	- imgData = imgData || [];
	- options = options || {};

	- var CAROUSEL_SEL = RENDER_UTIL.echoIf(attributes.id, '#' + attributes.id, '.carousel');
	
	- options.initActive = options.initActive || 0;
	- options.indicators = RENDER_UTIL.dfltBool(options.indicators, true);
	- options.controls = RENDER_UTIL.dfltBool(options.controls, true);
	- options.autoplay = RENDER_UTIL.dfltBool(options.autoplay, true);
	- options.captions = RENDER_UTIL.dfltBool(options.captions, true);
	
	//- make the inner items take up the full height of the carousel
	style(type="text/css").
		#{CAROUSEL_SEL} .carousel-inner,
		#{CAROUSEL_SEL} .item,
		#{CAROUSEL_SEL} .item .image {
			height: 100%;
		}

	- var SWITCH_DATA_RIDE = RENDER_UTIL.echoIf(options.autoplay, 'carousel');
	div&attributes(attributes).carousel.slide(data-ride=SWITCH_DATA_RIDE)
		if options.indicators
			ol.carousel-indicators
				- for (var i = 0; i < imgData.length; i++) {
					- var switchActiveClass = RENDER_UTIL.echoIf(i == options.initActive, 'active');
					li(data-target=CAROUSEL_SEL, data-slide-to=i, class=switchActiveClass)
				- }

		div.carousel-inner
			- for (var i = 0; i < imgData.length; i++) {
				- var switchActiveClass = RENDER_UTIL.echoIf(i == options.initActive, 'active');
				div.item(class=switchActiveClass)
					+carouselImage(imgData[i])(class="image")

					if options.captions
						div.carousel-caption
							+carouselCaption(imgData[i])
			- }
			
		if options.controls
			a.left.carousel-control(href=CAROUSEL_SEL, data-slide="prev")
				span.glyphicon.glyphicon-chevron-left
				
			a.right.carousel-control(href=CAROUSEL_SEL, data-slide="next")
				span.glyphicon.glyphicon-chevron-right