//-
	imgData - an array of Image objects
	options - an object with
		initActive - initial index to be active
		indicators - whether to include the placement indicators
		controls - whether to include the left/right controls
		autoplay - whether the carousel should auto-advance
		captions - master switch to enable/disable captions
						(even if they are defined in the data)
		
include ./image.jade

mixin carousel(imgData, options)

	- imgData = imgData || [];
	- options = options || {};

	- var CAROUSEL_SEL = attributes.id ? '#' + attributes.id : '.carousel';
	
	- options.initActive = options.initActive || 0;
	- options.indicators = ('boolean' == typeof options.indicators) ? options.indicators : true;
	- options.controls = ('boolean' == typeof options.controls) ? options.controls : true;
	- options.autoplay = ('boolean' == typeof options.autoplay) ? options.autoplay : true;
	- options.captions = ('boolean' == typeof options.captions) ? options.captions : true;
	
	//- make the inner items take up the full height of the carousel
	style(type="text/css").
		#{CAROUSEL_SEL} .carousel-inner,
		#{CAROUSEL_SEL} .item,
		#{CAROUSEL_SEL} .item .image {
			height: 100%;
		}

	- var SWITCH_DATA_RIDE = options.autoplay ? "carousel" : undefined;
	div&attributes(attributes).carousel.slide(data-ride=SWITCH_DATA_RIDE)
		if options.indicators
			ol.carousel-indicators
				- for (var i = 0; i < imgData.length; i++) {
					- var switchActiveClass = (i == options.initActive) ? "active" : "";
					li(data-target=CAROUSEL_SEL, data-slide-to=i, class=switchActiveClass)
				- }

		div.carousel-inner
			- for (var i = 0; i < imgData.length; i++) {
				- var switchActiveClass = (i == options.initActive) ? "active" : undefined;
				div.item(class=switchActiveClass)
					+image_bgimg(imgData[i])(class="image")

					if options.captions
						div.carousel_caption
							| #{imgData[i].getAlt()}
			- }
			
		if options.controls
			a.left.carousel-control(href=CAROUSEL_SEL, data-slide="prev")
				span.glyphicon.glyphicon-chevron-left
				
			a.right.carousel-control(href=CAROUSEL_SEL, data-slide="next")
				span.glyphicon.glyphicon-chevron-right