//-
	Mixin for including a div with a CSS background image
	imgObj - an Image object
mixin image_bgimg(imgObj)
	div&attributes(attributes)(data-k-jade-mixin-image-bgimg=imgObj.getUrl())
		style(type="text/css").
			div[data-k-jade-mixin-image-bgimg="#{imgObj.getUrl()}"] {
				background-image: url('#{imgObj.getUrl()}');
				background-repeat: no-repeat;
				background-size: cover;
				background-position-x: #{imgObj.getCenterX()}%;
				background-position-y: #{imgObj.getCenterY()}%;
			}

//-
	Mixin for preloading images
	imgObjs - an array of Image objects to preload
mixin image_preload(imgObjs)
	//- TODO how to put this at the end of the page?
	// preloaded images
	div(style="display: none")
		- for (var i in imgObjs) {
			<img src="#{imgObjs[i].getUrl()}">
		- }
