//-
	Mixin for including images as CSS background images
	
	imgObj - an Image object
	sel - the selector of the element that the image should go

mixin image_bgimg(imgObj, sel)
	style(type="text/css").
		#{sel} {
			background-image: url('#{imgObj.getUrl()}');
			background-repeat: no-repeat;
			background-size: cover;
			background-position-x: #{imgObj.getCenterX()}%;
			background-position-y: #{imgObj.getCenterY()}%;
		}
		
//-
	Mixin for preloading images
	
	imgObjs - an array of images to preload
	
mixin image_preload(imgObjs)
	- for (var i in imgObjs) {
		// preload image: #{imgObjs[i].getUrl()}
	- }
