//-
	options - an object with
		dynamicAffix - should the navbar dynamically fix to top on scroll
						default false
		initFixed - should the navbar be initialized to be fixed to top
						default false
		collapseOnBlur - should the menu collapse on blur?
						default true

mixin navbar(options)

	- options = options || {};
	- options.collapseOnBlur = ('boolean' == typeof options.collapseOnBlur) ? options.collapseOnBlur : true;
		
	- var NAVBAR_SEL = attributes.id ? '#' + attributes.id : '.navbar';
	- var NAVBAR_COLLAPSE_TOGGLE_SEL = NAVBAR_SEL + ' .collapse-toggle';
	- var NAVBAR_COLLAPSE_SEL = NAVBAR_SEL + ' .collapse';
	
	// script to fix the navbar and adjust body style
	script(type="text/javascript").
		$(document).ready(function() {
			var $body = $('body');
			
			window.navbar_setNavbarFixed = function($nav, shouldFix) {
				$nav.toggleClass('navbar-fixed-top', shouldFix);
				
				var numFixedNavbars = $('nav.navbar-fixed-top').length;
				$body.toggleClass('hasFixedNavbar', numFixedNavbars > 0);
			}
		});
	
	//- stuff for dynamically-fixed navbar
	if options.dynamicAffix
		// adjust navbar borders
		style(type="text/css").
			#{NAVBAR_SEL}:not(.navbar-fixed-top) {
				border-radius: 0;
			}
			
			#{NAVBAR_SEL}.navbar-inverse:not(.navbar-fixed-top) {
				border-top: none;
			}

		// script to do the dyanmic fixing of the navbar
		script(type="text/javascript").
			$(document).ready(function() {
				var $window = $(window);
				
				var $body = $('body');
				var $nav = $('#{NAVBAR_SEL}');
				var navTop = $nav.offset().top;
				
				$window.scroll(function() {
					window.navbar_setNavbarFixed($nav, navTop < $window.scrollTop());
				});
			});
			
	if options.initFixed
		// script to set the navbar fixed on page load
		script(type="text/javascript").
			$(document).ready(function() {
				window.navbar_setNavbarFixed($('#{NAVBAR_SEL}'), true);
			});
	
	if options.collapseOnBlur
		// script to collapse the navbar menu on blur and scroll
		script(type="text/javascript").
			$(document).ready(function() {
				var $window = $(window);
				var $document = $(document);
				var $collapse = $('#{NAVBAR_COLLAPSE_SEL}');
				
				function handler(evt) {
					//only hide if the target is not the navbar
					var $target = $(event.target);
					var isEvtFromNavbar = $target.closest('#{NAVBAR_SEL}').length > 0;
					var isCollapseOpen = $collapse.is('.collapse.in');
					
					if (isCollapseOpen && !isEvtFromNavbar) {
						$collapse.collapse('hide');
					}
				}
				
				$document.click(handler);
				$window.scroll(handler);
			});
	
	// script to blur the collapse button when menu is collapsed
	script(type="text/javascript").
		$(document).ready(function() {
			var $collapse = $('#{NAVBAR_COLLAPSE_SEL}');
			var $toggle = $('#{NAVBAR_SEL} .navbar-toggle');
			
			$collapse.on('hide.bs.collapse', function() {
				$toggle.blur();
			});
		});
	
	// the navbar html
	nav(id=attributes.id, role="navigation").navbar.navbar-default
		div.container-fluid
			div.navbar-header
				button(type="buton").navbar-toggle(data-toggle="collapse", data-target=NAVBAR_COLLAPSE_SEL)
					span.sr-only: | Navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href=URLS.base()): | Kapil Easwar
					
			div.collapse.navbar-collapse
				ul.nav.navbar-nav
					//- TODO detect which page we're on and highlight appropriate link
					li: a(href=URLS.resume()): | Resume
					li: a(href=URLS.projectCategory_tech()): | Tech projects
					li: a(href=URLS.contact()): | Contact
				
				ul.nav.navbar-nav.navbar-right
					//- TODO make this not hardcoded
					li.hidden-xs
						p.navbar-text
							| Connect &nbsp;
							a(href=URLS.contact_facebook())
								span.glyphicon.glyphicon-user
			//- end navbar-collapse
	//- end the actual navbar
//- end mixin