//-
	id - the ID of the navbar
	options - an object with
		dynamicAffix - should the navbar dynamically fix to top on scroll
						default false
		initFixed - should the navbar be initialized to be fixed to top
						default false
		collapseOnBlur - should the menu collapse on blur?
						default true

mixin navbar(id, options)

	- options = options || {};
	- if ('boolean' !== typeof options.collapseOnBlur) {
	- 	options.collapseOnBlur = true;
	- }
		
	- var NAVBAR_ID = id;
	- var NAVBAR_SEL = '#' + NAVBAR_ID;
	- var NAVBAR_COLLAPSE_TOGGLE_SEL = NAVBAR_SEL + ' .collapse-toggle';
	- var NAVBAR_COLLAPSE_SEL = NAVBAR_SEL + ' .collapse';
	
	//- begin fixed navbar stuff
		This won't work with multiple navs because the hasFixedNavbar
		class will be changed by the last navbar to be un-fixed
	style(type="text/css").
		body.hasFixedNavbar {
			padding-top: 60px;
		}
	
	script(type="text/javascript").
		$(document).ready(function() {
			var $body = $('body');
			
			window.navbar_setNavbarFixed = function($nav, shouldFix) {
				$nav.toggleClass('navbar-fixed-top', shouldFix);
				$body.toggleClass('hasFixedNavbar', shouldFix);
			}
		});
	
	if options.dynamicAffix
		style(type="text/css").
			#{NAVBAR_SEL}:not(.navbar-fixed-top) {
				border-radius: 0;
			}
			
			#{NAVBAR_SEL}.navbar-inverse:not(.navbar-fixed-top) {
				border-top: none;
			}
			
		script(type="text/javascript").
			$(document).ready(function() {
				var $window = $(window);
				
				var $body = $('body');
				var $nav = $('#{NAVBAR_SEL}');
				var navTop = $nav.offset().top;
				
				$window.scroll(function() {
					window.navbar_setNavbarFixed($nav, navTop < $window.scrollTop());
				});
			});
			
	if options.initFixed
		script(type="text/javascript").
			$(document).ready(function() {
				window.navbar_setNavbarFixed($('#{NAVBAR_SEL}'), true);
			});
	//- end fixed navbar stuff
	
	if options.collapseOnBlur
		script(type="text/javascript").
			$(document).ready(function() {
				var $collapse = $('#{NAVBAR_COLLAPSE_SEL}');
				
				$(document).click(function(evt) {
					//only hide if the target is not the navbar
					var $target = $(event.target);
					var isEvtFromNavbar = $target.closest('#{NAVBAR_SEL}').length > 0;
					var isCollapseOpen = $collapse.is('.collapse.in');
					
					if (isCollapseOpen && !isEvtFromNavbar) {
						$collapse.collapse('hide');
					}
				});
			});
	//- end if collapseOnBlur
	
	//- begin the actual navbar
	nav(id=NAVBAR_ID, role="navigation").navbar.navbar-default
		div.container-fluid
			div.navbar-header
				button(type="buton").navbar-toggle(data-toggle="collapse", data-target=NAVBAR_COLLAPSE_SEL)
					span.sr-only: | Navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
					
				a.navbar-brand(href="/"): | Kapil Easwar
			//- end navbar-header
					
			div.collapse.navbar-collapse
				ul.nav.navbar-nav
					//- TODO detect which page we're on and highlight appropriate link
					li: a(href="/resume"): | Resume
					li: a(href="/projects/tech"): | Tech projects
					li: a(href="/contact"): | Contact
				
				ul.nav.navbar-nav.navbar-right
					//- TODO make this not hardcoded
					li.hidden-xs
						p.navbar-text
							| Connect &nbsp;
							a(href="contact/facebook")
								span.glyphicon.glyphicon-user
			//- end navbar-collapse
	//- end the actual navbar
//- end mixin