<style type="text/css">
	.navbar {
		border-radius: 0 !important;
	}
</style>

<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
	    <div class="navbar-header">
	    	<a href="/" class="navbar-brand" href="">Kapil Easwar</a>
	    </div>

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<!-- 
					TODO detect which page we're on and highlight
					the approriate button
				-->
				<li><a href="/resume">Resume</a></li>
				<li><a href="/projects/tech">Tech projects</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li><p class="navbar-text">Connect</p></li>
				<li><p class="navbar-text">(F)</p></li>
				<li><p class="navbar-text">(T)</p></li>
				<li><p class="navbar-text">(LI)</p></li>
				<li><p class="navbar-text">(YT)</p></li>
			</ul>
		</div>
	</div>
</nav>

<script type="text/javascript">
	var $window = $(window);
	
	var $nav = $('nav');
	var navTop = $nav.offset().top;
	
	$window.scroll(function() {
		$nav.toggleClass('navbar-fixed-top', navTop < $window.scrollTop());
	});
</script>

<%- include linefiller.ejs %>
<%- include linefiller.ejs %>
<%- include linefiller.ejs %>
<%- include linefiller.ejs %>
<%- include linefiller.ejs %>
<%- include linefiller.ejs %>
<%- include linefiller.ejs %>
